<h2>Login</h2>

<form action="/login" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <button>Submit</button>

</form>

{{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}}