<h2>edit video</h2>

<form action="/video/update" method="post">

    <label for="title">title</label>
    <input type="text" name="title" id="title">

    <br><br>

    <p>video</p>

    <label for="">description</label>
    <input type="text" name="description" id="description">

    <br><br>

    <form action="/video/{{theVideo._id}}/delete" method="post">
    
    <a href="/profile">
    <button type="submit">delete video</button>
    </a>

</form>
</form>


