<h2>new video</h2>

<form action="/video/create" method="post">

    <label for="video">upload a view</label>
    <input type="file" id="video" name="video">
<br><br>
    <label for="title">video title</label>
    <input type="text" id="title" name="title">
<br><br>
    <label>description</label>
    <textarea name="content" cols="30" rows="10"></textarea>
    <br><br>
    <button type="submit">Post It</button>

</form>