<div class="container">

<h1>
    <div class="row row-centered margin-top">

<p class="col-sm-12 col-centered textz-color">Welcome to theUPLOAD
    <br>
        <img src="../images/video.png" alt="home-logo">

</p>
    </div>
</h1>

<div class="col-sm-12 col-centered">
    <a href="/signup" class="myButton">Sign Up</a>
    <a href="/login" class="myButton">Log In</a>
</div>

</div>