<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="topnav navbar sticky-top navbar-dark bg-dark">

      {{!-- Make home an image --}}
     <a class="active" href="/">
     <div class="white-box">
      <img class="nav-logo" src="../images/video.png" alt="home-logo">
     </div>
     </a>
     <a class="font-color font-a" href="/aboutUs">about</a>
     <a class="font-color font-a" href="/contactUs">contact</a>
     <a class="font-color font-a" href="/profile">your profile</a>
     <a class="font-color font-a" href="/logout">log out</a>
     <form method="get" action="/search">
       <label for="search-input"></label>
      <input id="search-input" type="text" placeholder="Search.." name="searchTerm">
      <button type="submit">Search</button>
     </form>
    </div>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
