body {
  padding: 0;
  margin: 0;
  background-color: rgb(230, 228, 228);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }




.font-a:hover {
  text-decoration: none;
  color: rgb(230, 228, 228);
}

.font-a:active{
  text-decoration: none;
  color: rgb(230, 228, 228);
}

.font-a:link{
  text-decoration: none;
  color: rgb(230, 228, 228);
}

.textz-color{
  color: #4c4c4c;
}

  .video-margin{
    margin:50px;
  }

  .comment-box{
    width: 824px;
    heigth: 624px;
  }

  .font-com-title{
    font-size: large;
  }

  .bold{
    font-weight: bold;
  }
/*# sourceMappingURL=style.css.map */

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
  text-align: center;
}

.white-box{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(139, 137, 137);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.margin-top{
  margin-top: 50px;
}
.margin-top-10{
  margin-top: 10px;
}

.avatar-size{
  width: 210px;
  padding: 1px;
  margin: 1px;
}

.nav-logo{
    width: 90px;
}

.font-color{
  text-decoration: none;
  color: rgb(230, 228, 228);
  font-size: 35px;
}

.font-color-2{
  text-decoration: none;
  font-size: 20px;
  color: #343a40;
}


.myButton {
	
	background-color:#343a40;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 23px;
	text-decoration:none;
}

.myButton:active {
	position:relative;
	top:1px;
}